
<div>
   
            <!-- Page Header Start -->
            <div class="page-header page-header2-contact">
              <div class="container">
                  <div class="row">
                      <div class="col-12">
                          <h2>Contatos</h2>
                      </div>
                      <div class="col-12">
                          <a href="">Home</a>
                          <a href="">Contatos</a>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Page Header End -->


          <!-- Contact Start -->
          <div class="contact wow fadeInUp">
              <div class="container">
                  <div class="section-header text-center">
                    <p>Entre em contato</p>
                       <h2>Para qualquer consulta</h2>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          <div class="contact-info">
                              <div class="contact-item">
                                  <i class="flaticon-address"></i>
                                  <div class="contact-text">
                                      <h2>Localização</h2>
                                      <p>Talatona, Rua S8 (Junto à Cidade Financeira Bomba de
                                        Combustível)</p>
                                  </div>
                              </div>
                              <div class="contact-item">
                                  <i class="flaticon-call"></i>
                                  <div class="contact-text">
                                      <h2>Telefone</h2>
                                      <p>+244 942 459 967</p>
                                  </div>
                              </div>
                              <div class="contact-item">
                                  <i class="flaticon-send-mail"></i>
                                  <div class="contact-text">
                                      <h2>Email</h2>
                                      <p>geral@arktraços.com</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="contact-form">
                              <div id="success"></div>
                              <form name="sentMessage" id="contactForm" novalidate="novalidate">
                                  <div class="control-group">
                                      <input type="text" class="form-control" id="name" placeholder="Seu nome" required="required" data-validation-required-message="Please enter your name" />
                                      <p class="help-block text-danger"></p>
                                  </div>
                                  <div class="control-group">
                                      <input type="email" class="form-control" id="email" placeholder="Seu Email" required="required" data-validation-required-message="Please enter your email" />
                                      <p class="help-block text-danger"></p>
                                  </div>
                                  <div class="control-group">
                                      <input type="text" class="form-control" id="subject" placeholder="Assunto" required="required" data-validation-required-message="Please enter a subject" />
                                      <p class="help-block text-danger"></p>
                                  </div>
                                  <div class="control-group">
                                      <textarea class="form-control" id="message" placeholder="Mensagem" required="required" data-validation-required-message="Please enter your message"></textarea>
                                      <p class="help-block text-danger"></p>
                                  </div>
                                  <div>
                                      <button class="btn" type="submit" id="sendMessageButton">Enviar mensagem</button>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Contact End -->
</div>