<div>


    <!-- Page Header Start -->
    <div class="page-header page-header2-arq">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Projetos Arquitetônicos</h2>
                </div>
                <div class="col-12">
                    <a href="">Home</a>
                    <a href="">Projetos Arquitetônicos</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Single Post Start-->
    <div class="single">
        <div class="container">


            <div class="row">
                <div class="col-lg-7">
                    <div class="single-content wow fadeInUp">
                        <h2>
                            Realizarmos do seu jeito</h2>
                        <p>
                            O projeto arquitetônico é o processo pelo qual uma obra de arquitetura é concebida e também a sua representação final. É considerada a parte escrita de um projeto.
                        </p>
                        <p>
                            O projeto arquitetônico é essencial. É constituído de
                        </p>
                        <div class="single-tags wow fadeInUp">
                            <a>1- Implantação</a>
                            <a>2- Plantas de cobertura</a>
                            <a>3- Planta baixa</a>
    
                            <a>4- Cortes e elevações superiores</a>
                            <a>5- Layout gráfico</a>
      
                        </div>
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="sidebar-widget wow fadeInUp">
                        <img src="./assets/img/projeto-arquitetonico-itupeva.jpg" alt="Image">
                    </div>
                </div>

                <div class="col-lg-7">
                    <div class="single-content wow fadeInUp">
                        
                        <img src="./assets/img/arquit-casa.jpg" alt="Image">
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="sidebar-widget wow fadeInUp">
                        <p></p>
                        <h2> Realizarmos do seu jeito</h2>
                        <p>
                            Contamos com um time de profissionais com paixões em comum pela arquitetura, engenharia civil e home design, unimos nosso amor e expertise em computação gráfica e tecnologia para oferecer um serviço de qualidade na concepção de imagens que gerem impacto visual nas apresentações dos projetos para construção civil.
                        </p>
                    
                       
                    </div>
                </div>
            </div>

            <!-- Portfolio Start -->
            <div class="portfolio">
                <div class="container">
                    <div class="section-header text-center">
                        <h2>As nossas obras</h2>
                    </div>
                    
                    <div class="row portfolio-container">
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item first wow fadeInUp"
                            data-wow-delay="0.1s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="./assets/img/portfolio/arquitetura/A3.jpg" alt="Image">
                                    <div class="portfolio-overlay">
                                        <p>
                                            Casa arquitetura
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>Projecto A3</h3>
                                    <a class="btn" href="./assets/img/portfolio/arquitetura/A3.jpg"
                                        data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item second wow fadeInUp"
                            data-wow-delay="0.2s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="./assets/img/portfolio/arquitetura/ch.jpg" alt="Image">
                                    <div class="portfolio-overlay">
                                        <p>
                                            Casa arquitetura
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>Project CH</h3>
                                    <a class="btn" href="./assets/img/portfolio/arquitetura/ch.jpg" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item second wow fadeInUp"
                            data-wow-delay="0.5s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="./assets/img/portfolio/arquitetura/kilamba33.jpg" alt="Image">
                                    <div class="portfolio-overlay">
                                        <p>
                                            Casa arquitetura kilamba
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>Project kilamba</h3>
                                    <a class="btn" href="./assets/img/portfolio/arquitetura/kilamba33.jpg" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item first wow fadeInUp"
                            data-wow-delay="0.4s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="./assets/img/portfolio/arquitetura/desporto.jpg" alt="Image">
                                    <div class="portfolio-overlay">
                                        <p>
                                            Casa arquitetura desporto
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>Project desporto</h3>
                                    <a class="btn" href="./assets/img/portfolio/arquitetura/desporto.jpg" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item third wow fadeInUp"
                            data-wow-delay="0.6s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="./assets/img/portfolio/arquitetura/projecto-religioso.jpg" alt="Image">
                                    <div class="portfolio-overlay">
                                        <p>
                                            Casa arquitetura projecto religioso
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>Projecto projecto religioso</h3>
                                    <a class="btn" href="./assets/img/portfolio/arquitetura/projecto-religioso.jpg" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item third wow fadeInUp"
                            data-wow-delay="0.3s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="./assets/img/portfolio/arquitetura/AT.jpg" alt="Image">
                                    <div class="portfolio-overlay">
                                        <p>
                                            Casa arquitetura
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>Project AT</h3>
                                    <a class="btn" href="./assets/img/portfolio/arquitetura/AT.jpg" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Portfolio End -->


        </div>
    </div>
    <!-- Single Post End-->
</div>