<div>


    <!-- Page Header Start -->
    <div class="page-header page-header2-const">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Construção Civil</h2>
                </div>
                <div class="col-12">
                    <a href="">Home</a>
                    <a href="">Construção Civil</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Single Post Start-->
    <div class="single">
        <div class="container">

            <div class="row">
                <div class="col-lg-7">
                    <div class="sidebar">
                        <div class="sidebar-widget wow fadeInUp">
                            <h2 class="widget-title">Construção Civil e Obras Públicas</h2>
                            <div class="single-bio-text">
                                <p>
                                    A Ark-Traços é uma empresa de renome angolana que actua no sector da Construção
                                    Civil e
                                    Obras
                                    Públicas com experiência na área de projetos, planeamento e execucção de obras.
                                </p>
                                <p>
                                    Confirmada pelas soluções globais que apresenta aos seus clientes, a Ark-Traços
                                    trabalha
                                    sozinho ou
                                    em associação com outras empresas nas especialidades de construção e reabilitação de
                                    edifícios,
                                    infra-estruturas, estruturas de betão armado, entre outras.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="sidebar-widget wow fadeInUp">
                        <img src="./assets/img/contrucao7.jpg" alt="Image">
                    </div>
                </div>



                <div class="col-lg-12">
                    <div class="sidebar-widget wow fadeInUp single-bio">

                        <div class="">
                            <h2>Equipa</h2>
                            <p>
                                Possuimos uma equipa de profissionais qualificados e preparados para produzir
                                estudos,
                                projectos e obras com qualidade, criatividade, funcionalidade. <br>
                                Respeitamos as normas legais do estado angolano e da engenharia de construção.
                            </p>

                            <div class="single-tags wow fadeInUp">
                                <a href="">- Arquitectos,</a>
                                <a href="">- Engenheiros</a>
                                <a href="">- Encarregados</a>

                                <a href="">- Administrativos</a>
                                <a href="">- Recursos Humanos</a>

                                <a href="">- Chefes de equipas</a>
                                <a href="">- Operários diversos</a>


                                <a href="">- Supervisor de Obra </a>
                                <a href="">- Guarda de Materias </a>

                                <a href="">- Motorista </a>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-7">
                    <div class="sidebar">

                        <div class="sidebar-widget wow fadeInUp">
                            <h2 class="widget-title">Área de Actuação</h2>
                            <div class="single-bio-text">
                                <p>1... Fornecimento de Materia Prima (areia, brita, terra vermelha, etc)</p>
                                <br>
                                <p>2... Fornecimento e Aluguer de Equipamentos Diversos (Camiões, Niveladora,
                                    Rectroescavadora,
                                    Pá Carregadora, Buldozer, Cilindro, Elevatória, etc)</p>
                                <br>
                                <p>3... Construção Civil Geral em Betão Armado e Mista (edificações residênciais,
                                    comerciais,
                                    industriais, estradas, pavimentação, remodelações gerais, , etc)</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="sidebar-widget wow fadeInUp">
                        <img src="./assets/img/contrucao.jpg" alt="Image">
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="single-content wow fadeInUp">


                        <!-- Video Start -->
                        <div class="video wow fadeIn" data-wow-delay="0.1s">
                            <div class="container">
                                <button type="button" class="btn-play" data-toggle="modal"
                                    data-src="https://www.youtube.com/embed/XgjQ5OLAlrc" data-target="#videoModal">

                                    <span></span>
                                </button>
                            </div>
                        </div>

                        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <!-- 16:9 aspect ratio -->
                                        <div class="embed-responsive embed-responsive-16by9">

                                            <iframe width="809" height="435" id="video"
                                                src="https://www.youtube.com/embed/XgjQ5OLAlrc"
                                                title="Como Aumentar FOTOS ao clicar em uma galeria com HTML e CSS! Abrindo fotos ao clicar com CSS!"
                                                frameborder="0" allowscriptaccess="always"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                allowfullscreen></iframe>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Video End -->

                    </div>
                </div>


                <div class="col-lg-7">
                    <div class="sidebar">

                        <div class="sidebar-widget wow fadeInUp">
                            <h2 class="widget-title">Importância</h2>


                            <div class="single-bio-text">
                                <p>
                                    O setor da Construção Civil é considerado um dos mais importantes do país, sendo o
                                    terceiro setor que mais gera empregos. Sua ampla cadeia produtiva abrange negócios
                                    relacionados à disponibilidade de insumos para a construção, aos negócios que
                                    permeiam
                                    as construtoras até o setor de serviços, incluindo os segmentos de arquitetura e
                                    engenharia.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="sidebar">

                        <div class="sidebar-widget wow fadeInUp">
                            <h2 class="widget-title">Perguntas frequentes</h2>

                            <div class="row">
                                <div class="col-md-12">
                                    <div id="accordion-1">
                                        <div class="card wow fadeInLeft" data-wow-delay="0.1s">
                                            <div class="card-header">
                                                <a class="card-link collapsed" data-toggle="collapse"
                                                    href="#collapseOne">
                                                    Quais são os diferenciais da Ark-Traços?
                                                </a>
                                            </div>
                                            <div id="collapseOne" class="collapse" data-parent="#accordion-1">
                                                <div class="card-body">
                                                    A Ark-Traços se orgulha em oferecer uma vasta experiência de 6 anos,
                                                    sendo
                                                    especializada no desenvolvimento e execução de construções,
                                                    incorporações e
                                                    projetos. Não bastando, somos uma construtora completa, contando com
                                                    mão-de-obra
                                                    qualificada, infraestrutura completa de materiais e equipamentos
                                                    para serviços
                                                    terceirizados, para atender a todos os segmentos: comercial,
                                                    industrial e
                                                    residencial.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card wow fadeInLeft" data-wow-delay="0.2s">
                                            <div class="card-header">
                                                <a class="card-link collapsed" data-toggle="collapse"
                                                    href="#collapseTwo">
                                                    A mão de obra da Ark-Traços é própria ou terceirizada?
                                                </a>
                                            </div>
                                            <div id="collapseTwo" class="collapse" data-parent="#accordion-1">
                                                <div class="card-body">
                                                    Contamos com uma equipe própria habilitada e altamente qualificada,
                                                    desde
                                                    profissionais responsáveis pela elaboração das etapas do projeto,
                                                    até aqueles que
                                                    executam a obra
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card wow fadeInLeft" data-wow-delay="0.3s">
                                            <div class="card-header">
                                                <a class="card-link collapsed" data-toggle="collapse"
                                                    href="#collapseThree">
                                                    Como realizar um projecto de raiz?
                                                </a>
                                            </div>
                                            <div id="collapseThree" class="collapse" data-parent="#accordion-1">
                                                <div class="card-body">
                                                    Conte-nos sobre o projeto que você tem em mente, nossos
                                                    profissionais estarão
                                                    encarregados de orientá-lo até que você tenha um projeto sólido e
                                                    direcionado, para
                                                    depois iniciar o processo de construção.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card wow fadeInLeft" data-wow-delay="0.4s">
                                            <div class="card-header">
                                                <a class="card-link collapsed" data-toggle="collapse"
                                                    href="#collapseFour">
                                                    Quais são as formas de pagamento disponíveis?
                                                </a>
                                            </div>
                                            <div id="collapseFour" class="collapse" data-parent="#accordion-1">
                                                <div class="card-body">
                                                    A forma de pagamento é um dos pontos mais importantes do contrato,
                                                    então precisa ser
                                                    conversado com calma para encontrar uma alternativa viável e segura.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card wow fadeInLeft" data-wow-delay="0.5s">
                                            <div class="card-header">
                                                <a class="card-link collapsed" data-toggle="collapse"
                                                    href="#collapseFive">
                                                    Como escolher materiais?
                                                </a>
                                            </div>
                                            <div id="collapseFive" class="collapse" data-parent="#accordion-1">
                                                <div class="card-body">
                                                    Sempre enfatizamos a definição dos materiais com o gosto de cada
                                                    cliente ou o estilo
                                                    do projeto, nessa fase podemos recomendar qualidade, preços e outros
                                                    aspectos
                                                    importantes avaliados pela nossa equipe de especialistas.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>






            <!-- Portfolio Start -->
            <div class="portfolio">
                <div class="container">
                    <div class="section-header text-center">
                        <h2>As nossas obras</h2>
                    </div>

                    <div class="row portfolio-container">
                        <div class="col-lg-6 col-md-6 col-sm-12 portfolio-item first wow fadeInUp"
                            data-wow-delay="0.1s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="./assets/img/portfolio/1.jpg" alt="Image">
                                    <div class="portfolio-overlay">
                                        <p>
                                            Projecto Resort quartos mussulo fase do acabamento
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>Projecto resort</h3>
                                    <a class="btn" href="./assets/img/portfolio/1.jpg" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 portfolio-item second wow fadeInUp"
                            data-wow-delay="0.2s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="./assets/img/portfolio/2.jpg" alt="Image">
                                    <div class="portfolio-overlay">
                                        <p>
                                            Projecto resort quartos vip mussulo fase do acabamento
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>Projecto resort</h3>
                                    <a class="btn" href="./assets/img/portfolio/2.jpg" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 portfolio-item third wow fadeInUp"
                            data-wow-delay="0.3s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="./assets/img/portfolio/3.jpg" alt="Image">
                                    <div class="portfolio-overlay">
                                        <p>
                                            Projecto Resort na praia Mussulo fase do acabamento
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>Projecto Resort</h3>
                                    <a class="btn" href="./assets/img/portfolio/3.jpg" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 portfolio-item first wow fadeInUp"
                            data-wow-delay="0.4s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="./assets/img/portfolio/4.jpg" alt="Image">
                                    <div class="portfolio-overlay">
                                        <p>
                                            Projecto Resort: Restaurante Mussulo fase do acabamento
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>Projecto Resort</h3>
                                    <a class="btn" href="./assets/img/portfolio/4.jpg" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 portfolio-item second wow fadeInUp"
                            data-wow-delay="0.5s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="./assets/img/portfolio/5.jpg" alt="Image">
                                    <div class="portfolio-overlay">
                                        <p>
                                            Projecto Zango 3 fase da execução
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>Projecto Zango</h3>
                                    <a class="btn" href="./assets/img/portfolio/5.jpg" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 portfolio-item third wow fadeInUp"
                            data-wow-delay="0.6s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="./assets/img/portfolio/6.jpg" alt="Image">
                                    <div class="portfolio-overlay">
                                        <p>
                                            Projecto Igreja Talatona fase de execução
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>Projecto Igreja</h3>
                                    <a class="btn " href="./assets/img/portfolio/6.jpg" data-lightbox="portfolio">+</a>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Portfolio End -->


        </div>
    </div>
    <!-- Single Post End-->
</div>