<div>


    <!-- Page Header Start -->
    <div class="page-header page-header2-reab">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Reabilitação de vias</h2>
                </div>
                <div class="col-12">
                    <a href="">Home</a>
                    <a href="">Reabilitação de vias</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Single Post Start-->
    <div class="single">
        <div class="container">

            <div class="row">
                <div class="col-lg-7">
                    <div class="sidebar">
                        <div class="sidebar-widget wow fadeInUp">
                            <h2 class="widget-title">Reabilitação de vias facilita a circulação</h2>
                            <div class="single-bio-text">
                       
                        <p>
                            O melhoramento da via possibilita rapidez na circulação rodoviária, facto que permite viajar
                            com segurança no troço reabilitado, diminuindo o período de viagem
                        </p>
                        <p>
                            Confirmada pelas soluções globais que apresenta aos seus clientes, a Ark-Traços trabalha
                            sozinho ou
                            em associação com outras empresas nas especialidades em estudo de projectos de estradas,
                            Esgotos e Valas;
                            Estudos de Ravinas e Pontes e Taludes

                        </p>
                        <p>
                            A empresa possui todos os equipamentos necessários para uma perfeita execução dos trabalhos
                        </p>
                    </div>
                </div>   </div>
            </div>

                <div class="col-lg-5">
                    <div class="sidebar-widget wow fadeInUp">
                        <img src="./assets/img/estrada.jpg" alt="Image">
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="single-content wow fadeInUp">
                        
                        <img src="./assets/img/carousel-4.jpg" alt="Image">
                    </div>
                </div>

                <div class="col-lg-7">

                    <div class="sidebar">
                        <div class="sidebar-widget wow fadeInUp">
                            <h2 class="widget-title">Recuperações Asfálticas – Tapa Buraco</h2>
                            <div class="single-bio-text">
                                
                                <p>
                                    São recuperações asfálticas, popularmente conhecida como operação tapa buraco, visam a
                                    reabilitação e manutenção das estruturas de pavimento nas vias
                                </p>
                                <p>
                                    Os serviços visam o programa de manutenção e reabilitação das estruturas de pavimento nas
                                    ruas e avenidas do município.
                                </p>
                                <p>
                                    – TAPA-BURACO: Correção emergencial, em área localizada, de defeito no pavimento por meio de
                                    lançamento de mistura asfáltica sobre o local afetado. Os serviços de tapa-buraco consistem
                                    somente no emprego de concreto betuminoso a quente ou pré-misturado a frio, para enchimento
                                    do buraco previamente limpo e banhado com pintura de ligação.
                                </p>
                                
                            </div>
                        </div>
                    </div>


                  
                    </div>
                </div>





            <div class="row">
                <div class="col-lg-8">
                    <div class="single-content wow fadeInUp">
                        

                     
                    <div class="single-bio wow fadeInUp">
                        <div class="single-bio-text">
                          
                        <h4>Equipa</h4>
                        <p>
                            Possuimos uma equipa de profissionais qualificados e preparados para produzir estudos,
                            projectos e obras com qualidade, criatividade, funcionalidade.
                        </p>
                        <div class="single-tags wow fadeInUp">
                            <a href="">- Arquitectos,</a>
                            <a href="">- Engenheiros</a>
                            <a href="">- Encarregados</a>

                            <a href="">- Administrativos</a>
                            <a href="">- Recursos Humanos</a>

                            <a href="">- Chefes de equipas</a>
                            <a href="">- Operários diversos</a>

                        </div>
                        </div>
                    </div>

                        <!-- Video Start -->
                        <div class="video wow fadeIn" data-wow-delay="0.1s">
                            <div class="container">
                                <button type="button" class="btn-play" data-toggle="modal"
                                    data-src="https://www.youtube.com/embed/XgjQ5OLAlrc" data-target="#videoModal">

                                    <span></span>
                                </button>
                            </div>
                        </div>

                        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <!-- 16:9 aspect ratio -->
                                        <div class="embed-responsive embed-responsive-16by9">

                                            <iframe width="809" height="435" id="video"
                                                src="https://www.youtube.com/embed/XgjQ5OLAlrc"
                                                title="Como Aumentar FOTOS ao clicar em uma galeria com HTML e CSS! Abrindo fotos ao clicar com CSS!"
                                                frameborder="0" allowscriptaccess="always"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                allowfullscreen></iframe>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Video End -->

                    </div> 
                    

                </div>

                <div class="col-lg-4">
                    <div class="sidebar">
 

                        <div class="sidebar-widget wow fadeInUp">
                            <h2 class="widget-title">Perguntas frequentes</h2>


                            <div class="row">
                                <div class="col-md-12">
                                    <div id="accordion-1">
                                        <div class="card wow fadeInLeft" data-wow-delay="0.1s">
                                            <div class="card-header">
                                                <a class="card-link collapsed" data-toggle="collapse"
                                                    href="#collapseOne">
                                                    Quais são os diferenciais da Ark-Traços?
                                                </a>
                                            </div>
                                            <div id="collapseOne" class="collapse" data-parent="#accordion-1">
                                                <div class="card-body">
                                                    A Ark-Traços se orgulha em oferecer uma vasta experiência de 6 anos,
                                                    sendo
                                                    especializada no desenvolvimento e execução de construções,
                                                    incorporações e
                                                    projetos. Não bastando, somos uma construtora completa, contando com
                                                    mão-de-obra
                                                    qualificada, infraestrutura completa de materiais e equipamentos
                                                    para serviços
                                                    terceirizados, para atender a todos os segmentos: comercial,
                                                    industrial e
                                                    residencial.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card wow fadeInLeft" data-wow-delay="0.2s">
                                            <div class="card-header">
                                                <a class="card-link collapsed" data-toggle="collapse"
                                                    href="#collapseTwo">
                                                    A mão de obra da Ark-Traços é própria ou terceirizada?
                                                </a>
                                            </div>
                                            <div id="collapseTwo" class="collapse" data-parent="#accordion-1">
                                                <div class="card-body">
                                                    Contamos com uma equipe própria habilitada e altamente qualificada,
                                                    desde
                                                    profissionais responsáveis pela elaboração das etapas do projeto,
                                                    até aqueles que
                                                    executam a obra
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card wow fadeInLeft" data-wow-delay="0.3s">
                                            <div class="card-header">
                                                <a class="card-link collapsed" data-toggle="collapse"
                                                    href="#collapseThree">
                                                    Como realizar um projecto de raiz?
                                                </a>
                                            </div>
                                            <div id="collapseThree" class="collapse" data-parent="#accordion-1">
                                                <div class="card-body">
                                                    Conte-nos sobre o projeto que você tem em mente, nossos
                                                    profissionais estarão
                                                    encarregados de orientá-lo até que você tenha um projeto sólido e
                                                    direcionado, para
                                                    depois iniciar o processo de construção.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card wow fadeInLeft" data-wow-delay="0.4s">
                                            <div class="card-header">
                                                <a class="card-link collapsed" data-toggle="collapse"
                                                    href="#collapseFour">
                                                    Quais são as formas de pagamento disponíveis?
                                                </a>
                                            </div>
                                            <div id="collapseFour" class="collapse" data-parent="#accordion-1">
                                                <div class="card-body">
                                                    A forma de pagamento é um dos pontos mais importantes do contrato,
                                                    então precisa ser
                                                    conversado com calma para encontrar uma alternativa viável e segura.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card wow fadeInLeft" data-wow-delay="0.5s">
                                            <div class="card-header">
                                                <a class="card-link collapsed" data-toggle="collapse"
                                                    href="#collapseFive">
                                                    Como escolher materiais?
                                                </a>
                                            </div>
                                            <div id="collapseFive" class="collapse" data-parent="#accordion-1">
                                                <div class="card-body">
                                                    Sempre enfatizamos a definição dos materiais com o gosto de cada
                                                    cliente ou o estilo
                                                    do projeto, nessa fase podemos recomendar qualidade, preços e outros
                                                    aspectos
                                                    importantes avaliados pela nossa equipe de especialistas.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card wow fadeInLeft" data-wow-delay="0.3s">
                                            <div class="card-header">
                                                <a class="card-link collapsed" data-toggle="collapse"
                                                    href="#collapseThree">
                                                    Como realizar um projecto de raiz?
                                                </a>
                                            </div>
                                            <div id="collapseThree" class="collapse" data-parent="#accordion-1">
                                                <div class="card-body">
                                                    Conte-nos sobre o projeto que você tem em mente, nossos
                                                    profissionais estarão
                                                    encarregados de orientá-lo até que você tenha um projeto sólido e
                                                    direcionado, para
                                                    depois iniciar o processo de construção.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card wow fadeInLeft" data-wow-delay="0.4s">
                                            <div class="card-header">
                                                <a class="card-link collapsed" data-toggle="collapse"
                                                    href="#collapseFour">
                                                    Quais são as formas de pagamento disponíveis?
                                                </a>
                                            </div>
                                            <div id="collapseFour" class="collapse" data-parent="#accordion-1">
                                                <div class="card-body">
                                                    A forma de pagamento é um dos pontos mais importantes do contrato,
                                                    então precisa ser
                                                    conversado com calma para encontrar uma alternativa viável e segura.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card wow fadeInLeft" data-wow-delay="0.5s">
                                            <div class="card-header">
                                                <a class="card-link collapsed" data-toggle="collapse"
                                                    href="#collapseFive">
                                                    Como escolher materiais?
                                                </a>
                                            </div>
                                            <div id="collapseFive" class="collapse" data-parent="#accordion-1">
                                                <div class="card-body">
                                                    Sempre enfatizamos a definição dos materiais com o gosto de cada
                                                    cliente ou o estilo
                                                    do projeto, nessa fase podemos recomendar qualidade, preços e outros
                                                    aspectos
                                                    importantes avaliados pela nossa equipe de especialistas.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card wow fadeInLeft" data-wow-delay="0.3s">
                                            <div class="card-header">
                                                <a class="card-link collapsed" data-toggle="collapse"
                                                    href="#collapseThree">
                                                    Como realizar um projecto de raiz?
                                                </a>
                                            </div>
                                            <div id="collapseThree" class="collapse" data-parent="#accordion-1">
                                                <div class="card-body">
                                                    Conte-nos sobre o projeto que você tem em mente, nossos
                                                    profissionais estarão
                                                    encarregados de orientá-lo até que você tenha um projeto sólido e
                                                    direcionado, para
                                                    depois iniciar o processo de construção.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card wow fadeInLeft" data-wow-delay="0.4s">
                                            <div class="card-header">
                                                <a class="card-link collapsed" data-toggle="collapse"
                                                    href="#collapseFour">
                                                    Quais são as formas de pagamento disponíveis?
                                                </a>
                                            </div>
                                            <div id="collapseFour" class="collapse" data-parent="#accordion-1">
                                                <div class="card-body">
                                                    A forma de pagamento é um dos pontos mais importantes do contrato,
                                                    então precisa ser
                                                    conversado com calma para encontrar uma alternativa viável e segura.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card wow fadeInLeft" data-wow-delay="0.5s">
                                            <div class="card-header">
                                                <a class="card-link collapsed" data-toggle="collapse"
                                                    href="#collapseFive">
                                                    Como escolher materiais?
                                                </a>
                                            </div>
                                            <div id="collapseFive" class="collapse" data-parent="#accordion-1">
                                                <div class="card-body">
                                                    Sempre enfatizamos a definição dos materiais com o gosto de cada
                                                    cliente ou o estilo
                                                    do projeto, nessa fase podemos recomendar qualidade, preços e outros
                                                    aspectos
                                                    importantes avaliados pela nossa equipe de especialistas.
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <!-- Portfolio Start -->
            <div class="portfolio">
                <div class="container">
                    <div class="section-header text-center">
                        <h2>As nossas obras</h2>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul id="portfolio-flters">
                                <li data-filter="*" class="filter-active">All</li>
                                <li data-filter=".first">Complete</li>
                                <li data-filter=".second">Running</li>
                                <li data-filter=".third">Upcoming</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row portfolio-container">
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item first wow fadeInUp"
                            data-wow-delay="0.1s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="./assets/img/portfolio/const-2.jpg" alt="Image">
                                    <div class="portfolio-overlay">
                                        <p>
                                            Casa descatavel .
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>Project Name</h3>
                                    <a class="btn" href="./assets/img/portfolio/const-2.jpg"
                                        data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item second wow fadeInUp"
                            data-wow-delay="0.2s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="./assets/img/portfolio-2.jpg" alt="Image">
                                    <div class="portfolio-overlay">
                                        <p>
                                            Casa descatavel .
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>Project Name</h3>
                                    <a class="btn" href="./assets/img/portfolio-2.jpg" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item third wow fadeInUp"
                            data-wow-delay="0.3s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="./assets/img/portfolio-3.jpg" alt="Image">
                                    <div class="portfolio-overlay">
                                        <p>
                                            Casa descatavel .
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>Project Name</h3>
                                    <a class="btn" href="./assets/img/portfolio-3.jpg" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item first wow fadeInUp"
                            data-wow-delay="0.4s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="./assets/img/portfolio-4.jpg" alt="Image">
                                    <div class="portfolio-overlay">
                                        <p>
                                            Casa descatavel .
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>Project Name</h3>
                                    <a class="btn" href="./assets/img/portfolio-4.jpg" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item second wow fadeInUp"
                            data-wow-delay="0.5s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="./assets/img/portfolio-5.jpg" alt="Image">
                                    <div class="portfolio-overlay">
                                        <p>
                                            Casa descatavel .
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>Project Name</h3>
                                    <a class="btn" href="./assets/img/portfolio-5.jpg" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item third wow fadeInUp"
                            data-wow-delay="0.6s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="./assets/img/portfolio-6.jpg" alt="Image">
                                    <div class="portfolio-overlay">
                                        <p>
                                            Casa descatavel .
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>Project Name</h3>
                                    <a class="btn" href="./assets/img/portfolio-6.jpg" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Portfolio End -->


        </div>
    </div>
    <!-- Single Post End-->
</div>