<div>


    <!-- Page Header Start -->
    <div class="page-header page-header2-topol">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Estudo Topográfico</h2>
                </div>
                <div class="col-12">
                    <a href="">Home</a>
                    <a href="">Estudo Topográfico</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Single Post Start-->
    <div class="single">
        <div class="container">


            <div class="row">
                <div class="col-lg-7">
                    <div class="single-content wow fadeInUp">
                        <h2>Serviço de Topográfico</h2>
                        <p>
                            Os levantamentos topográficos realizados Ark-Traços, empresa de topografia em Luanda, elaboramos a representação gráfica de imóveis, considerando os seus mínimos detalhes. Essas representações incluem fatores como benfeitorias realizadas no imóvel, o relevo de seu terreno, as proporções da edificação, entre diversas outras informações relevantes para o gerenciamento de seus dados espaciais.
                        </p>
                        <p>
                            A empresa possui todos os equipamentos necessários para uma perfeita execução dos trabalhos
                        </p> 
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="sidebar-widget wow fadeInUp">
                        <img src="./assets/img/portfolio-2.jpg" alt="Image">
                    </div>
                </div>

                <div class="col-lg-7">
                    <div class="single-content wow fadeInUp">
                        
                        <img src="./assets/img/top-xl.jpg" alt="Image">
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="sidebar-widget wow fadeInUp">
                        <p> </p>
                        <h2>Porque exige o estudo topográfico</h2>
                        <p>
                            Realizar o levantamento topográfico é importante no momento de projetar e construir uma edificação, pois o estudo da topografia de um terreno fornece informações importantes relativas ao tipo de terreno escolhido, sendo útil durante a elaboração do projeto arquitetônico e desenvolvimento da construção.
                        </p>
                        <p>
                            Os serviços visam o programa de manutenção e reabilitação das estruturas de pavimento nas
                            ruas e avenidas do município.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Portfolio Start -->
            <div class="portfolio">
                <div class="container">
                    <div class="section-header text-center">
                        <h2>As nossas obras</h2>
                    </div> 
                    <div class="row portfolio-container">
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item first wow fadeInUp"
                            data-wow-delay="0.1s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="./assets/img/portfolio/Levantamento-para-drenagem-3.jpg" alt="Image">
                                    <div class="portfolio-overlay">
                                        <p>
                                            Casa descatavel .
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>Project Name</h3>
                                    <a class="btn" href="./assets/img/portfolio/Levantamento-para-drenagem-3.jpg"
                                        data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item second wow fadeInUp"
                            data-wow-delay="0.2s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="./assets/img/portfolio-2.jpg" alt="Image">
                                    <div class="portfolio-overlay">
                                        <p>
                                            Casa descatavel .
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>Project Name</h3>
                                    <a class="btn" href="./assets/img/portfolio-2.jpg" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                     
                     
                        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item third wow fadeInUp"
                            data-wow-delay="0.3s">
                            <div class="portfolio-warp">
                                <div class="portfolio-img">
                                    <img src="./assets/img/portfolio/carousel-3.jpg" alt="Image">
                                    <div class="portfolio-overlay">
                                        <p>
                                            Casa descatavel .
                                        </p>
                                    </div>
                                </div>
                                <div class="portfolio-text">
                                    <h3>Project Name</h3>
                                    <a class="btn" href="./assets/img/portfolio-3.jpg" data-lightbox="portfolio">+</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                </div>
            </div>
            <!-- Portfolio End -->


        </div>
    </div>
    <!-- Single Post End-->
</div>