<div>

    <!-- Portfolio Start -->
    <div class="portfolio">
        <div class="container">
            <div class="section-header text-center">
                <p>Alguns dos nossos trabalhos </p>
                <h2>Visite Nossos Projetos</h2>
            </div>

            <div class="row">
                <div class="col-12">
                    <ul id="portfolio-flters">
                        <li data-filter="*" @click="todas()" :class="{ filter_active: todos }">Todos</li>
                        <li data-filter=".first" @click="web()" :class="{ filter_active: webX }">Concluído</li>
                        <li data-filter=".second" @click="app()" :class="{ filter_active: appX }">Em execução</li>
                        <li data-filter=".third" @click="psd()" :class="{ filter_active: psdX }">Nossos video</li>
                    </ul>
                </div>
            </div>
            <div class="row portfolio-container">

                <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item first wow fadeInUp" data-wow-delay="0.1s"
                    v-for="item in projectos" :key="item.id">
                    <div class="portfolio-warp">
                        <div class="portfolio-img">
                            <div class="div_img_sl">
                               <img  class="img_sl" :src="img+item.img1" alt="Image">  
                            </div>
                           
                            <div class="portfolio-overlay">
                                <p>
                                    {{item.descricao}}
                                </p>
                            </div>
                        </div>
                        <div class="portfolio-text">
                            <h3>{{item.titulo}}</h3>
                            <a class="btn" @click="visualizar(item.id)">+</a>
                        </div>
                    </div>
                </div>
 
            </div>

        </div>
    </div>
    <!-- Portfolio End -->


</div>