<div>
  <p-menu></p-menu>

  <!-- MAIN -->
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Nova Projecto - Galeria</h1>
    </div>
    <!-- End Page Title -->

    <section class="section contact">

      <div class="row gy-4">

        <div class="col-xl-12">
          <div class="card p-4">
            <form enctype="multipart/form-data" action="javascript:void(0)" class="php-email-form"  @submit.prevent="sendFile">
              <div class="row gy-4">

                <div class=" " id="contact" role="tabpanel" aria-labelledby="contact-tab">

                  <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">Titulo</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" v-model="titulo">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Categoria</label>
                    <div class="col-sm-10">
                      <select v-model="categoria" class="form-select" aria-label="Default select example">
                        <option selected="">Seleciona a categoria</option>
                        <option value="1">contrucao</option>
                        <option value="2">topologia</option>
                        <option value="3">Three</option>
                        <option value="3">arquitetura</option>
                      </select>
                    </div>
                  </div>

                  <div v-show="showLink">
                    <div class="row mb-3">
                      <div class="text-center col-sm-12">
                        <a class="btn btn-secondary mb-3" @click="Btn_foto">Mudar para Carregar foto </a>
                      </div>

                      <label for="inputPassword" class="col-sm-2 col-form-label">Link Video</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" style="height: 100px" v-model="link"></textarea>
                      </div>
                    </div>

                    
                  </div>
                   
                  <div v-show="showFoto">
                    <div class="row mb-3">
                      <div class="text-center col-sm-12">
                        <a class="btn btn-secondary  mb-3" @click="Btn_link">Mudar para Link de video</a>
                      </div>
                      <label for="formFile" class="col-sm-2 col-form-label">Carregar foto</label>
                      <div class="col-sm-10">
                        <input class="form-control" type="file" id="formFile" ref="img" id="upload-button"
                          v-on:change="updatePreview">
                        <figure class="image-container">
                          <img class="image-img" :src="imagemVer" accept="image/*">
                        </figure>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="inputPassword" class="col-sm-2 col-form-label">Descriçao</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" style="height: 100px" v-model="descricao"></textarea>
                      </div>
                    </div>
                  </div>
                    <div class="col-md-12 text-center">
                      <button type="submit">Salvar</button>
                    </div>
                </div>
            </form>
          </div>

        </div>
      </div>

    </section>

  </main>

  <p-footer></p-footer>
</div>