<div>
    <!-- FOOTER -->

    <!-- Footer Start -->
    <div class="footer wow fadeIn" data-wow-delay="0.3s">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="footer-contact">
                        <h2>Contato do escritório</h2>
                        <p><i class="fa fa-map-marker-alt"></i>Talatona, Rua S8 (Junto à Cidade Financeira Bomba de
                            Combustível)</p>
                        <p><i class="fa fa-phone-alt"></i>+244 942 459 967</p>
                        <p><i class="fa fa-envelope"></i>geral@arktraços.com</p>
                        <div class="footer-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-link">
                        <h2>Áreas de Serviços</h2>
                        <a href="#/construcao">Construção Civil</a>
                        <a href="#/reabilitacao">Reabilitação de vias e outros</a>
                        <a href="#/arquitetura">Projetos Arquitetônicos</a>
                        <a href="#/topografico">Estudo Topográfico</a> 
                        
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-link">
                        <h2>Páginas úteis</h2>
                        <a href="#/sobre">Sobre nós</a>
                        <a href="#/contato">Entre em contato conosco</a>
                        <a href="#/">Nossa equipe</a>
                        <a href="#/portfolio">Projetos</a>
                        <a href="#/">Depoimento</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="newsletter">
                        <h2>Newsletter</h2>
                        <p>
                            Assina a nosssa Newsletter
                        </p>
                        <div class="form">
                            <input class="form-control" placeholder="E-mail aqui">
                            <button class="btn">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container footer-menu">
            <div class="f-menu">
                <a href="">Termos de uso</a>
                <a href="">Política de privacidade</a>
                <a href="">Cookies</a>
                <a href="">Ajuda</a> 
            </div>
        </div>
        <div class="container copyright">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; <a href="#">ARK-TRAÇOS</a>, todos os direitos reservados.</p>
                </div>
                <div class="col-md-6">
                    <p>Projetado por <a href="https://">JLSystem (Joaquim Silva)</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</div>