<div>
  
    <!-- About Start -->
    <div class="about wow fadeInUp" data-wow-delay="0.1s">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-5 col-md-6">
                  <div class="about-img">
                      <img src="./assets/img/about.jpg" alt="Image">
                  </div>
              </div>
              <div class="col-lg-7 col-md-6">
                  <div class="section-header text-left">
                      <p>Bem-vindo ao Ark Traça</p>
                      <h2>O traçado para o futuro</h2>
                  </div>
                  <div class="about-text">
                      <p>
                          Somos uma empresa de direito Angolano, estamos cadastrado no ministério da construção para
                          construir projectar e fiscalizar com o alvará de 6 classe.
                      </p>
                      <p>
                          Estamos associados a várias empresas de construção e geotecnia com uma a filiação com uma
                          empresa em Portugal estamos trabalhamos 4 anos como a Proj- ark sob e estamos a trabalhar á
                          4 meses como Ark-tracos o NIF. 5000661252 especializada na prestação de serviços nas áreas
                          de:
                          Construção Civil;
                          Projetos Arquitetônicos;
                          Fiscalização, consultoria e Estudo topográfico;
                          Estudo de Projectos de estradas, Esgotos e Valas;
                          Estudos de Ravinas e Pontes e Taludes 
                      </p>
                
                    <p>
                      Temos recursos adequados para fornecer serviços de excelência, com alta produtividade, respeitamos as normas legais do estado angolano e da engenharia de construção. Também estamos diretamente ligados a H3A&E, empresa que possui geotécnica, escavações de fundações profundas e equipamento.
                   
                    </p>
                  </div>
              </div>
          </div>

          <div class="container-fluid leis">
            <div class="row">
               
                <div class="col-md-12 fact-right wow slideInRight">
                    <div class="row">
                      <div class="col-4">  
                        <div class="fact-text">
                            <h2 data-toggle="counter-up">Missão</h2>
                            <p>“Nossa missão é fornecer um produto de alta qualidade, que consiga atender as necessidades do cliente e superar suas expectativas”</p>
                        </div>
                    </div>
                        <div class="col-4"> 
                            <div class="fact-text">
                                <h2 data-toggle="counter-up">Visão </h2>
                                <p>“Ser empresa de referência, reconhecida como a melhor opção por clientes, colaboradores, comunidade, fornecedores e investidores, pela qualidade de nossos produtos, serviços e relacionamento”</p>
                            </div>
                        </div>
                        <div class="col-4"> 
                            <div class="fact-text">
                                <h2 data-toggle="counter-up">Valores </h2>
                                <p>“Integridade e Honestidade; Abertura e Respeito; Vontade de Abraçar Grandes Desafios; Atitude Crítica; Responsabilidade; Paixão pelo Projecto, Parceiros e Clientes”</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>
  <!-- About End -->

  <!-- jms Fact Start -->
  <div class="fact">
      <div class="container-fluid">
          <div class="row counters">
              <div class="col-md-6 fact-left wow slideInLeft">
                  <div class="row">
                      <div class="col-6">
                          <div class="fact-icon">
                              <i class="flaticon-worker"></i>
                          </div>
                          <div class="fact-text">
                              <h2 data-toggle="counter-up">54</h2>
                              <p>Trabalhadores especializados</p>
                          </div>
                      </div>
                      <div class="col-6">
                          <div class="fact-icon">
                              <i class="flaticon-building"></i>
                          </div>
                          <div class="fact-text">
                              <h2 data-toggle="counter-up">385</h2>
                              <p>CLIENTES FELIZES</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 fact-right wow slideInRight">
                  <div class="row">
                      <div class="col-6">
                          <div class="fact-icon">
                              <i class="flaticon-address"></i>
                          </div>
                          <div class="fact-text">
                              <h2 data-toggle="counter-up">521</h2>
                              <p>PROJETOS COMPLETOS</p>
                          </div>
                      </div>
                      <div class="col-6">
                          <div class="fact-icon">
                              <i class="flaticon-crane"></i>
                          </div>
                          <div class="fact-text">
                              <h2 data-toggle="counter-up">101</h2>
                              <p>Executando Projetos</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Fact End -->



 <!-- FAQs Start ---------->
 <div class="faqs">
  <div class="container">
      <div class="section-header text-center">
          <p>Perguntas frequentes</p>
          <h2>Você pode perguntar</h2>
      </div>
      <div class="row">
          <div class="col-md-6">
              <div id="accordion-1">
                  <div class="card wow fadeInLeft" data-wow-delay="0.1s">
                      <div class="card-header">
                          <a class="card-link collapsed" data-toggle="collapse" href="#collapseOne">
                              Quais são os diferenciais da Ark-Traços?
                          </a>
                      </div>
                      <div id="collapseOne" class="collapse" data-parent="#accordion-1">
                          <div class="card-body">
                              A Ark-Traços se orgulha em oferecer uma vasta experiência de 6 anos, sendo
                              especializada no desenvolvimento e execução de construções, incorporações e
                              projetos. Não bastando, somos uma construtora completa, contando com mão-de-obra
                              qualificada, infraestrutura completa de materiais e equipamentos para serviços
                              terceirizados, para atender a todos os segmentos: comercial, industrial e
                              residencial.
                          </div>
                      </div>
                  </div>
                  <div class="card wow fadeInLeft" data-wow-delay="0.2s">
                      <div class="card-header">
                          <a class="card-link collapsed" data-toggle="collapse" href="#collapseTwo">
                              A mão de obra da Ark-Traços é própria ou terceirizada?
                          </a>
                      </div>
                      <div id="collapseTwo" class="collapse" data-parent="#accordion-1">
                          <div class="card-body">
                              Contamos com uma equipe própria habilitada e altamente qualificada, desde
                              profissionais responsáveis pela elaboração das etapas do projeto, até aqueles que
                              executam a obra
                          </div>
                      </div>
                  </div>
                  <div class="card wow fadeInLeft" data-wow-delay="0.3s">
                      <div class="card-header">
                          <a class="card-link collapsed" data-toggle="collapse" href="#collapseThree">
                              Como realizar um projecto de raiz?
                          </a>
                      </div>
                      <div id="collapseThree" class="collapse" data-parent="#accordion-1">
                          <div class="card-body">
                              Conte-nos sobre o projeto que você tem em mente, nossos profissionais estarão
                              encarregados de orientá-lo até que você tenha um projeto sólido e direcionado, para
                              depois iniciar o processo de construção.
                          </div>
                      </div>
                  </div>
                  <div class="card wow fadeInLeft" data-wow-delay="0.4s">
                      <div class="card-header">
                          <a class="card-link collapsed" data-toggle="collapse" href="#collapseFour">
                              Quais são as formas de pagamento disponíveis?
                          </a>
                      </div>
                      <div id="collapseFour" class="collapse" data-parent="#accordion-1">
                          <div class="card-body">
                              A forma de pagamento é um dos pontos mais importantes do contrato, então precisa ser conversado com calma para encontrar uma alternativa viável e segura.
                          </div>
                      </div>
                  </div>
                  <div class="card wow fadeInLeft" data-wow-delay="0.5s">
                      <div class="card-header">
                          <a class="card-link collapsed" data-toggle="collapse" href="#collapseFive">
                              Como escolher materiais?
                          </a>
                      </div>
                      <div id="collapseFive" class="collapse" data-parent="#accordion-1">
                          <div class="card-body">
                              Sempre enfatizamos a definição dos materiais com o gosto de cada cliente ou o estilo do projeto, nessa fase podemos recomendar qualidade, preços e outros aspectos importantes avaliados pela nossa equipe de especialistas.
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div id="accordion-2">
                  <div class="card wow fadeInRight" data-wow-delay="0.1s">
                      <div class="card-header">
                          <a class="card-link collapsed" data-toggle="collapse" href="#collapseSix">
                              Que tipo de garantia oferece?
                          </a>
                      </div>
                      <div id="collapseSix" class="collapse" data-parent="#accordion-2">
                          <div class="card-body">
                              Todos os nossos projetos são ancorados aos sistemas existentes conforme a lei em
                              vigor segundo o país de trabalho, também o nosso livro de ética e responsabilidade
                              permite que nossos clientes tenham plena certeza de que seus projetos serão
                              conduzidos com o maior profissionalismo e qualidade.
                          </div>
                      </div>
                  </div>
                  <div class="card wow fadeInRight" data-wow-delay="0.2s">
                      <div class="card-header">
                          <a class="card-link collapsed" data-toggle="collapse" href="#collapseSeven">
                              Como o preço final do meu projeto é determinado?
                          </a>
                      </div>
                      <div id="collapseSeven" class="collapse" data-parent="#accordion-2">
                          <div class="card-body">
                              Após reunir todos os elementos do projeto, procede-se à medição de cada uma das
                              especialidades, detalhes, dificuldades e requisitos necessários para determinar o
                              preço final do projeto.
                          </div>
                      </div>
                  </div>

                  <div class="card wow fadeInRight" data-wow-delay="0.4s">
                      <div class="card-header">
                          <a class="card-link collapsed" data-toggle="collapse" href="#collapseNine">
                              Quais são os benefícios mais importantes dos projetos que você realiza?
                          </a>
                      </div>
                      <div id="collapseNine" class="collapse" data-parent="#accordion-2">
                          <div class="card-body">

                              Em cada um dos nossos projetos, realizamos das mãos de nossa equipe o estudo
                              necessário para evitar potenciais riscos para o ambiente, trabalhando dentro das
                              normas de cada cidade e garantindo cada um dos nossos projectos á adatação dos
                              materiais e ténicas para o benefícios do meio ambiente.
                          </div>
                      </div>
                  </div>
                  <div class="card wow fadeInRight" data-wow-delay="0.5s">
                      <div class="card-header">
                          <a class="card-link collapsed" data-toggle="collapse" href="#collapseTen">
                              O que fazer quando um trabalho ruim foi feito?
                          </a>
                      </div>
                      <div id="collapseTen" class="collapse" data-parent="#accordion-2">
                          <div class="card-body">
                              Conte-nos sobre o seu problema e como você tentou consertá-lo, podemos sugerir
                              métodos para reparar ou refazer o trabalho mal executado.
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- FAQs End -->


</div>